@CHARSET "EUC-KR";

* {
    font-family: Gulim, 굴림, Arial, AppleGotihc, Dotum, 돋움, sans-serif;
}

select.soflow1, select.soflow1-color {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 200px;
}	
	
	
select.soflow1-color {
   color: #fff;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
   background-color: #779126;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   padding-left: 15px;
}

	
select#soflow, select#soflow-color {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 200px;
}

select#soflow-color {
   color: #fff;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
   background-color: #779126;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   padding-left: 15px;
}
.tb6 {
	border: 3px double #CCCCCC;
	width: 230px;
	height: 25px;
}


.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -86px;
    margin-left: -89px;
    text-align: center;
}

#aBtn a {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    margin: 20px auto;
    max-width: 200px;
    text-decoration: none;
    border-radius: 4px;
    padding: 20px 30px;
    text-align:center;
    width:117px;
    font-weight:bold;
}

#aBtn a.button {
    color: rgba(30, 22, 54, 0.6);
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

#aBtn a.button:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

#aBtn a.button2 {
    color: rgba(30, 22, 54, 0.6);
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

#aBtn a.button2:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
}


	

	
	.detail {
	 	background:white;
		  height: auto;
		  width: auto;
		  display:none;
		  text-color:white;
		  border:1px solid gray;
		  border-radius: 4px;
	}

	.detail2 {
	 	background:white;
		  height: auto;
		  width: auto;
		  display:none;
		  text-color:white;
		  border:1px solid gray;
		  border-radius: 4px;
	}
	
	.detail3 {
	 	background:white;
		  height: auto;
		  width: auto;
		  display:none;
		  text-color:white;
		  border:1px solid gray;
		  border-radius: 4px;
	}
	
	.detail4 {
	 	background:white;
		  height: auto;
		  width: auto;
		  display:none;
		  text-color:white;
		  border:1px solid gray;
		  border-radius: 4px;
	}
	
	.detail5 {
	 	background:white;
		  height: auto;
		  width: auto;
		  display:none;
		  text-color:white;
		  border:1px solid gray;
		  border-radius: 4px;
	}
	.detail6 {
	 	background:white;
		  height: auto;
		  width: auto;
		  display:none;
		  text-color:white;
		  border:1px solid gray;
		  border-radius: 4px;
	}
	.detail7 {
	 	background:white;
		  height: auto;
		  width: auto;
		  display:none;
		  text-color:white;
		  border:1px solid gray;
		  border-radius: 4px;
	}
	.detail8 {
	 	background:white;
		  height: auto;
		  width: auto;
		  display:none;
		  text-color:white;
		  border:1px solid gray;
		  border-radius: 4px;
	}
	
	.tableDIV{
		height:auto;
		width:900px;
		align:center;
	} 
	
	


.sendBtn{
	    background-color: #05a2da;
    border: 1px solid #0482af;
    color: #fff;
    width: 70px;
    height: 36px;
    cursor: pointer;
}
.sendBtn:hover{
	    background-color: #056e93;
}

#cury {
	    margin-bottom: 20px;
    padding: 10px 17px;
    border: 1px solid #c7c7c7;
    border-radius: 4px;
    height: 150px;
    font-size: 15px;
    color: #5e5e5e;
    line-height: 22px;
    overflow-y: auto;
	
}

#mojpjangContent{
	    margin-top: 20px;
    padding: 15px 17px 13px;
    border: 1px solid #ff9797;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 700;
	
}

.mojipjang{
	padding-bottom: 8px;
    color: #ff4747;
    font-weight:700;
}
/* .popupDIV{
	
	position: absolute;
    padding: 30px;
    left: 202px;
    background-color: #fff;
    border: 4px solid #00c6ff;
} */
	
	
	.popupInnerContent{
	position: relative;
    padding: 27px 20px;
}


.popupInner{
	margin-top: -1px;
    width: 550px;
    border: 1px solid #8a8a8a;
}

.introduce_title{
	padding-right: 13px;
    color: #2695f1;
    font-weight:700;
}

.tree_reple_place {
	    padding: 0;
    text-align: left;
      position: relative;
      height:50px;
	
}
.tree_reple_place>div>div {
		padding-top: 30px;
	    float: left;
		padding-right:13px;
}

.input-text {
		width: 290px;
    	border: 1px solid #05a2da;
		display: inline-block;
	    padding: 5px 10px;
	    height: 24px;
	    line-height: 20px;
	    font-size: 17px;
	    color: #5e5e5e;
}

.repleBtn{

	padding: 9px 9px 6px 15px;
    background-color: #05a2da;
    border: 1px solid #0482af;
    color: #fff;
    width: 70px;
	
}

	#contentTable {
		cellspacing:50px;
		text-align:left;	
	}
	#contentTable>tr>td{
		cellspacing: 10px;
		cellpadding: 10px;
	}

	.popupDIV {
	position: absolute;
    padding: 30px;
    background-color: #fff;
    border: 4px solid #00c6ff;
	
	display: none; 
	}
	/* #pophead{
	width:100px;
	} */
	#pophead ol{
	width : 100px;
	}
	/* #popcontent{
	width:200px;
	} */
	#popcontent ol{
	width : 300px;
	}
	
	.replyContent{
	 float: left;
	 width:470px;
	}
	
	#replyList{
		width:500px;
		overflow-y: auto;
		 height:300px;
	}
	
	.replyLi{
		overflow: hidden;
	    position: relative;
	    padding: 20px 0;
	    border-bottom: 1px solid #ddd;
	}
	
	.replyUl{
		padding:0;
		margin-bottom: 20px;
    	border-top: 1px solid #65b5dd;
	}
	
	.btnDIV{
		position: absolute;
    	top: 20px;
    	right: 0px;
    	display: inline-block;
	    line-height: 0;
	    padding-top:10px;
	}
	
	.replyName{
	overflow: hidden;
    max-width: 515px;
    font-weight: bold;
    color: #e83227;
    white-space: nowrap;
	}
	
	.Content_txt{
		display: block;
    width: 470px;
    margin-top: 20px;
    font-size: 17px;
    color: #444;
    line-height: 1.5;
	}
	
	.btnDIV>a{
		text-decoration: none;
		padding:5px;
		color:red;
		font-weight:bold;
	}
	
	.sub_title{
		width:auto;
		padding-right:5px;
		padding-left:5px;
		font-weight:700;
	}
	
	.titleDIV{
		padding-bottom:10px;
	}
	
	.mojip_intro{
		padding-bottom: 8px;
    	color: #ff4747;
    	font-size: 15px;
    	padding-right: 10px;
    	font-weight: 700;
	}
	.mojip_content{
		
	    font-size: 15px;
	    font-weight: 700;
	    color: #666;
	}
	
	
table.atable {
    border-collapse: separate;
    text-align: center;
    line-height: 1.5;
    margin: 20px 10px;
}
table.atable th {
    width: 155px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #79ABFF;
}
table.atable td {
    width: 155px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #eee;
}



#searchBtn {
	padding-left: 20px;
	background: #c1bebe;
	padding: 0 20px;
	color: #fff !important;
	border-radius: 100px;
	-moz-border-radius: 100px;
	height: 32px;
	line-height: 32px;
	text-transform: uppercase;
	text-decoration: none;
	border: none !important;
	-webkit-transition: all .3s ease-in-out !important;
	t: 30pxt: 30px;
	margin-left: 15px;
	margin-top: 5px;
	font-size: 14px;
	cursor: pointer;
	font-weight: 600;
}

#searchBtn:hover {
	color: gray !important;
	background: #fff;
}
	
	