@CHARSET "EUC-KR";

.first button{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.first button:hover{
  background:#fff;
  color:#1AAB8A;
}
.first button:before, button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
.first button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.first button:hover:before, button:hover:after{
  width:100%;
  transition:800ms ease all;
}
#btnModify{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
#btnModify:hover{
  background:#fff;
  color:#1AAB8A;
}
#btnModify:before, #btnModify:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
#btnModify:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
#btnModify:hover:before, #btnModify:hover:after{
  width:100%;
  transition:800ms ease all;
}
#btnDelete{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
#btnDelete:hover{
  background:#fff;
  color:#1AAB8A;
}
#btnDelete:before, #btnDelete:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
#btnDelete:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
#btnDelete:hover:before, #btnDelete:hover:after{
  width:100%;
  transition:800ms ease all;
}
#btnCafe{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
#btnCafe:hover{
  background:#fff;
  color:#1AAB8A;
}
#btnCafe:before, #btnCafe:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
#btnCafe:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
#btnCafe:hover:before, #btnCafe:hover:after{
  width:100%;
  transition:800ms ease all;
}

#btnCafe{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
#btnCafe:hover{
  background:#fff;
  color:#1AAB8A;
}
#btnCafe:before, #btnCafe:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
#btnCafe:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
#btnCafe:hover:before, #btnCafe:hover:after{
  width:100%;
  transition:800ms ease all;
}